@media only screen and (min-width: 1425px) {
    .profileInfo {
        padding: 0% 2% 2% 2%;
        margin: 2% 20% 2% 20%;
        border-radius: 10px;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        text-decoration: none;
        display: block;
    }

    .buttonSpan {
        display: block;
    }

    span,
    .buttonSpan {
        background-color: rgba(255, 255, 255, 0.9);
    }

    label,
    .input {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 16px;
        text-decoration: none;
        text-align: center;
        border-style: none;
        padding-right: 3px;
        padding-left: 3px;
        margin: 5px 5px 5px 5px;
        width: 200px;
    }

    label {
        background-color: rgba(255, 255, 255, 0.9);
        display: inline-block;
    }

    .input {
        border-radius: 10px;
        color: grey;
        background-color: #a3bd98;
        display: inline-block;
    }

    .createPlantSpan {
        padding: 2% 2% 2% 10%;
        margin: 11% 25% 11% 25%;
        min-width: 605px;
        border-radius: 10px;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        text-decoration: none;
        display: inline-block;
    }
}